RewriteEngine On
RewriteRule ^home$  index.php [L]
RewriteRule ^projects$  projects.php [L]
RewriteRule ^login$  login.php [L]
RewriteRule ^add_new_project$  add_new_project.php [L]
RewriteRule ^manage_team_member$  manage_team_member.php [L]
RewriteRule ^list_activity$  list_activity.php [L]
RewriteRule ^add_new_activity$  add_new_activity.php [L]
RewriteRule ^manage_activity_team_member$  manage_activity_team_member.php [L]
RewriteRule ^add_activity_program_element$  add_activity_program_element.php [L]
RewriteRule ^add_project_review$  add_project_review.php [L]
RewriteRule ^add_new_evaluation$  add_new_evaluation.php [L]
RewriteRule ^add_project_geo_location$  add_project_geo_location.php [L]
RewriteRule ^project_finance$  project_finance.php [L]
RewriteRule ^project_activity_finance$  project_activity_finance.php [L]
RewriteRule ^project_procurement$  project_procurement.php [L]
RewriteRule ^manage_key_documents$  manage_key_documents.php [L]
RewriteRule ^view_project_archive$  view_project_archive.php [L]
RewriteRule ^view_activity_archive$  view_activity_archive.php [L]